In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine
import math

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'lifeexpectancy'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

df = pd.read_sql_query('select * from lifeexpectancy',con=engine)

engine.dispose()

In [3]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [5]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
Country                            2938 non-null object
Year                               2938 non-null int64
Status                             2938 non-null object
Life expectancy                    2928 non-null float64
Adult Mortality                    2928 non-null float64
infant deaths                      2938 non-null int64
Alcohol                            2744 non-null float64
percentage expenditure             2938 non-null float64
Hepatitis B                        2385 non-null float64
Measles                            2938 non-null int64
 BMI                               2904 non-null float64
under-five deaths                  2938 non-null int64
Polio                              2919 non-null float64
Total expenditure                  2712 non-null float64
Diphtheria                         2919 non-null float64
 HIV/AIDS                          2938 non-null float64
GDP                                2490 non-null float64
Population                         2286 non-null float64
 thinness  1-19 years              2904 non-null float64
 thinness 5-9 years                2904 non-null float64
Income composition of resources    2771 non-null float64
Schooling                          2775 non-null float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.0+ KB

In [7]:
df[df['Life expectancy '].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
624,Cook Islands,2013,Developing,NaN,NaN,0,0.01,0.000000,98.0,0,...,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
769,Dominica,2013,Developing,NaN,NaN,0,0.01,11.419555,96.0,0,...,96.0,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7
1651,Marshall Islands,2013,Developing,NaN,NaN,0,0.01,871.878317,8.0,0,...,79.0,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0
1716,Monaco,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
1813,Nauru,2013,Developing,NaN,NaN,0,0.01,15.606596,87.0,0,...,87.0,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6
1910,Niue,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,7.20,99.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
1959,Palau,2013,Developing,NaN,NaN,0,NaN,344.690631,99.0,0,...,99.0,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2
2168,Saint Kitts and Nevis,2013,Developing,NaN,NaN,0,8.54,0.000000,97.0,0,...,96.0,6.14,96.0,0.1,NaN,NaN,3.7,3.6,0.749,13.4
2217,San Marino,2013,Developing,NaN,NaN,0,0.01,0.000000,69.0,0,...,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.01,78.281203,9.0,0,...,9.0,16.61,9.0,0.1,3542.135890,1819.0,0.2,0.1,NaN,0.0

In [8]:
df['Year'].unique()

array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2004, 2003, 2002, 2001, 2000])

Our observations for which we have NaN values for life expectancy are all in the year 2013. Since this is a time series dataset that goes through 2015, interpolating these values should be the best course of action

In [9]:
df[df.Country == 'Dominica']

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
769,Dominica,2013,Developing,NaN,NaN,0,0.01,11.419555,96.0,0,...,96.0,5.58,96.0,0.1,722.75665,NaN,2.7,2.6,0.721,12.7

Unfortunately, all 10 of countries only had 1 year recorded.

In [10]:
df.Country.value_counts()

Tajikistan                          16
Solomon Islands                     16
Nepal                               16
Sao Tome and Principe               16
Costa Rica                          16
Papua New Guinea                    16
Dominican Republic                  16
Vanuatu                             16
Republic of Moldova                 16
Tunisia                             16
Namibia                             16
Singapore                           16
Chile                               16
Fiji                                16
Bolivia (Plurinational State of)    16
Barbados                            16
United Republic of Tanzania         16
Cameroon                            16
Saint Vincent and the Grenadines    16
Mauritania                          16
Lao People's Democratic Republic    16
Bulgaria                            16
Kyrgyzstan                          16
Canada                              16
Uganda                              16
France                              16
Honduras                            16
Jordan                              16
Latvia                              16
El Salvador                         16
                                    ..
Mongolia                            16
Yemen                               16
Czechia                             16
Iraq                                16
Guyana                              16
Republic of Korea                   16
Niger                               16
Bahrain                             16
Kazakhstan                          16
Hungary                             16
Norway                              16
United States of America            16
Finland                             16
Spain                               16
Montenegro                          16
Australia                           16
Gabon                               16
Central African Republic            16
Ethiopia                            16
Mauritius                           16
San Marino                           1
Cook Islands                         1
Niue                                 1
Monaco                               1
Nauru                                1
Marshall Islands                     1
Dominica                             1
Saint Kitts and Nevis                1
Tuvalu                               1
Palau                                1
Name: Country, Length: 193, dtype: int64

Seeing as these are the only 10 countries in our dataset that do not have the full 16 years, I think it makes the most sense to remove them from the data set. We don't have a good value to impute.

In [11]:
df[df['Alcohol'].isnull()]['Country'].value_counts()

South Sudan                                  16
Montenegro                                    2
China                                         1
Greece                                        1
Philippines                                   1
Yemen                                         1
Libya                                         1
Ecuador                                       1
Uzbekistan                                    1
Kuwait                                        1
Guinea                                        1
Togo                                          1
Argentina                                     1
Finland                                       1
Bosnia and Herzegovina                        1
Bahamas                                       1
Trinidad and Tobago                           1
Equatorial Guinea                             1
Sri Lanka                                     1
Mali                                          1
Australia                                     1
Colombia                                      1
Iraq                                          1
Madagascar                                    1
Ethiopia                                      1
Malawi                                        1
Republic of Korea                             1
Peru                                          1
Niger                                         1
Palau                                         1
                                             ..
Seychelles                                    1
Angola                                        1
Mexico                                        1
Algeria                                       1
The former Yugoslav republic of Macedonia     1
CÃ´te d'Ivoire                                 1
Brunei Darussalam                             1
Barbados                                      1
Cuba                                          1
Nigeria                                       1
Azerbaijan                                    1
Portugal                                      1
Bahrain                                       1
Liberia                                       1
Turkey                                        1
Namibia                                       1
India                                         1
Maldives                                      1
Sierra Leone                                  1
Tunisia                                       1
Eritrea                                       1
Lithuania                                     1
Belize                                        1
Oman                                          1
Saint Lucia                                   1
Indonesia                                     1
Russian Federation                            1
Suriname                                      1
Tonga                                         1
Mauritius                                     1
Name: Country, Length: 178, dtype: int64

In [12]:
df[df['Hepatitis B'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
45,Algeria,2003,Developing,71.7,146.0,20,0.34,25.018523,NaN,15374,...,87.0,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
46,Algeria,2002,Developing,71.6,145.0,20,0.36,148.511984,NaN,5862,...,86.0,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
47,Algeria,2001,Developing,71.4,145.0,20,0.23,147.986071,NaN,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
48,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
58,Angola,2006,Developing,47.7,381.0,90,5.84,25.086888,NaN,765,...,36.0,4.54,34.0,2.5,262.415149,2262399.0,9.8,9.7,0.439,7.2
59,Angola,2005,Developing,47.4,382.0,92,5.04,98.191451,NaN,258,...,39.0,4.10,38.0,2.6,1443.991929,19552542.0,1.0,9.9,0.426,6.8
60,Angola,2004,Developing,47.1,386.0,94,3.53,8.866777,NaN,29,...,4.0,4.71,4.0,2.5,141.868440,18865716.0,1.2,1.1,0.415,6.4
61,Angola,2003,Developing,46.8,388.0,95,3.49,35.933491,NaN,1196,...,4.0,4.41,4.0,2.4,779.468356,1823369.0,1.4,1.3,0.406,5.9
62,Angola,2002,Developing,46.5,391.0,96,2.82,24.037942,NaN,11945,...,37.0,3.63,41.0,2.3,711.181716,17572649.0,1.5,1.5,0.401,5.5
63,Angola,2001,Developing,45.7,44.0,97,2.58,30.359936,NaN,9046,...,41.0,5.38,38.0,2.1,526.168743,16983266.0,1.7,1.7,0.391,5.1
64,Angola,2000,Developing,45.3,48.0,97,1.85,15.881493,NaN,2219,...,3.0,2.79,28.0,2.0,555.296942,1644924.0,1.9,1.9,0.382,4.6
80,Antigua and Barbuda,2000,Developing,73.6,156.0,0,7.27,1127.743470,NaN,0,...,96.0,4.13,95.0,0.1,9875.161736,NaN,3.7,3.6,0.000,0.0
95,Argentina,2001,Developing,74.0,138.0,12,7.76,123.012867,NaN,0,...,85.0,9.38,83.0,0.1,717.694674,3747159.0,1.2,1.1,0.771,15.6
96,Argentina,2000,Developing,74.1,137.0,12,7.68,1349.025282,NaN,6,...,88.0,9.21,83.0,0.1,7669.273916,3757452.0,1.2,1.1,0.764,15.0
128,Australia,2000,Developed,79.5,78.0,1,10.17,347.187360,NaN,108,...,9.0,8.80,9.0,0.1,2169.921000,19153.0,0.7,0.7,0.897,20.4
159,Azerbaijan,2001,Developing,67.5,151.0,8,0.51,4.104190,NaN,574,...,77.0,4.48,77.0,0.1,73.683843,81112.0,3.1,3.1,0.642,10.4
160,Azerbaijan,2000,Developing,66.6,16.0,9,0.65,35.094626,NaN,210,...,75.0,4.67,76.0,0.1,655.974326,8486.0,3.2,3.1,0.636,10.1
176,Bahamas,2000,Developing,72.6,192.0,0,12.15,0.000000,NaN,0,...,91.0,5.21,99.0,0.1,NaN,NaN,2.7,2.6,0.000,12.0
206,Bangladesh,2002,Developing,66.3,164.0,207,0.01,0.397229,NaN,3484,...,83.0,2.59,83.0,0.1,4.613575,1366667.0,2.5,21.1,0.476,7.7
207,Bangladesh,2001,Developing,65.8,168.0,219,0.01,3.395070,NaN,4414,...,85.0,2.47,85.0,0.1,42.598115,1341716.0,2.7,21.3,0.468,7.5
208,Bangladesh,2000,Developing,65.3,173.0,231,0.01,3.696331,NaN,5098,...,83.0,2.33,82.0,0.1,45.633710,131581243.0,2.9,21.5,0.459,7.3
224,Barbados,2000,Developing,73.3,127.0,0,7.43,1140.615754,NaN,0,...,86.0,5.16,93.0,0.9,11568.111100,NaN,4.3,4.2,0.741,14.0
287,Benin,2001,Developing,55.5,281.0,25,1.29,45.334764,NaN,5859,...,77.0,4.69,76.0,2.1,378.736540,776733.0,9.5,9.4,0.395,6.6
288,Benin,2000,Developing,55.4,279.0,25,1.34,37.381820,NaN,4244,...,78.0,4.34,78.0,2.0,374.192394,6865951.0,9.7,9.6,0.389,6.4
333,Bosnia and Herzegovina,2003,Developing,75.2,12.0,0,4.14,39.865180,NaN,18,...,87.0,7.94,87.0,0.1,2214.732246,3779247.0,3.0,3.0,0.000,12.1
334,Bosnia and Herzegovina,2002,Developing,75.4,11.0,0,3.84,151.139930,NaN,28,...,86.0,7.10,8.0,0.1,1761.537647,377587.0,3.1,3.1,0.000,11.9
335,Bosnia and Herzegovina,2001,Developing,74.9,113.0,0,3.85,143.294749,NaN,0,...,92.0,7.16,91.0,0.1,1524.412220,3771284.0,3.2,3.2,0.000,11.6
336,Bosnia and Herzegovina,2000,Developing,74.6,116.0,0,3.64,165.616864,NaN,43,...,87.0,7.90,85.0,0.1,1461.755200,376676.0,3.3,3.2,0.000,0.0
411,Burkina Faso,2005,Developing,53.3,313.0,48,4.88,8.769989,NaN,253,...,94.0,6.87,82.0,2.3,46.998871,1342193.0,1.3,9.8,0.000,4.3
412,Burkina Faso,2004,Developing,52.4,323.0,49,4.54,56.961081,NaN,77,...,83.0,6.45,79.0,2.5,371.323865,133569.0,1.5,1.1,0.000,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,Uganda,2001,Developing,47.7,539.0,115,10.57,26.976252,NaN,48543,...,56.0,7.26,55.0,10.8,234.984775,24854892.0,6.9,6.9,0.396,10.8
2729,Uganda,2000,Developing,46.6,554.0,116,10.47,22.594475,NaN,42554,...,55.0,6.77,52.0,11.6,257.633690,2439274.0,7.0,7.0,0.382,9.8
2762,United Kingdom of Great Britain and Northern I...,2015,Developed,81.2,69.0,3,10.66,0.000000,NaN,91,...,96.0,NaN,96.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN
2763,United Kingdom of Great Britain and Northern I...,2014,Developed,81.0,71.0,3,10.37,0.000000,NaN,133,...,95.0,9.12,95.0,0.1,NaN,NaN,0.8,0.5,NaN,NaN
2764,United Kingdom of Great Britain and Northern I...,2013,Developed,87.0,72.0,3,10.32,0.000000,NaN,1919,...,95.0,9.34,95.0,0.1,NaN,NaN,0.8,0.5,NaN,NaN
2765,United Kingdom of Great Britain and Northern I...,2012,Developed,86.0,72.0,3,10.42,0.000000,NaN,2092,...,95.0,9.41,95.0,0.1,NaN,NaN,0.8,0.5,NaN,NaN
2766,United Kingdom of Great Britain and Northern I...,2011,Developed,86.0,74.0,3,10.68,0.000000,NaN,1112,...,95.0,9.34,95.0,0.1,NaN,NaN,0.8,0.5,NaN,NaN
2767,United Kingdom of Great Britain and Northern I...,2010,Developed,82.0,77.0,3,10.88,0.000000,NaN,443,...,94.0,9.51,94.0,0.1,NaN,NaN,0.8,0.5,NaN,NaN
2768,United Kingdom of Great Britain and Northern I...,2009,Developed,81.0,78.0,4,10.79,0.000000,NaN,1212,...,93.0,9.81,93.0,0.1,NaN,NaN,0.8,0.5,NaN,NaN
2769,United Kingdom of Great Britain and Northern I...,2008,Developed,79.6,8.0,4,11.47,0.000000,NaN,1445,...,92.0,8.85,92.0,0.1,NaN,NaN,0.8,0.5,NaN,NaN
2770,United Kingdom of Great Britain and Northern I...,2007,Developed,79.5,8.0,4,11.84,0.000000,NaN,1022,...,92.0,8.42,92.0,0.1,NaN,NaN,0.7,0.5,NaN,NaN
2771,United Kingdom of Great Britain and Northern I...,2006,Developed,79.3,82.0,4,11.61,0.000000,NaN,764,...,92.0,8.36,92.0,0.1,NaN,NaN,0.7,0.5,NaN,NaN
2772,United Kingdom of Great Britain and Northern I...,2005,Developed,79.0,82.0,4,12.05,0.000000,NaN,79,...,91.0,8.24,91.0,0.1,NaN,NaN,0.7,0.5,NaN,NaN
2773,United Kingdom of Great Britain and Northern I...,2004,Developed,78.8,83.0,4,12.22,0.000000,NaN,189,...,92.0,7.98,92.0,0.1,NaN,NaN,0.7,0.5,NaN,NaN
2774,United Kingdom of Great Britain and Northern I...,2003,Developed,78.3,86.0,4,11.85,0.000000,NaN,460,...,91.0,7.81,91.0,0.1,NaN,NaN,0.7,0.5,NaN,NaN
2775,United Kingdom of Great Britain and Northern I...,2002,Developed,78.2,87.0,4,11.44,0.000000,NaN,314,...,91.0,7.57,91.0,0.1,NaN,NaN,0.7,0.5,NaN,NaN
2776,United Kingdom of Great Britain and Northern I...,2001,Developed,78.0,88.0,4,10.91,0.000000,NaN,73,...,91.0,7.31,91.0,0.1,NaN,NaN,0.7,0.5,NaN,NaN
2777,United Kingdom of Great Britain and Northern I...,2000,Developed,77.8,89.0,4,10.59,0.000000,NaN,104,...,91.0,6.94,91.0,0.1,NaN,NaN,0.7,0.5,NaN,NaN
2792,United Republic of Tanzania,2001,Developing,49.6,46.0,110,4.09,0.000000,NaN,11847,...,65.0,3.28,87.0,12.5,NaN,NaN,8.2,8.1,NaN,NaN
2793,United Republic of Tanzania,2000,Developing,49.2,457.0,114,3.89,0.000000,NaN,14649,...,64.0,2.64,79.0,12.8,NaN,NaN,8.3,8.3,NaN,NaN
2840,Uzbekistan,2001,Developing,67.4,185.0,28,1.53,43.663856,NaN,22,...,99.0,5.28,99.0,0.2,456.734892,2496445.0,3.4,3.3,0.594,10.7
2841,Uzbekistan,2000,Developing,67.1,189.0,30,1.60,48.509417,NaN,80,...,99.0,5.29,99.0,0.1,558.221144,24654.0,3.4,3.4,0.000,10.6
2887,Viet Nam,2002,Developing,73.8,137.0,30,2.03,0.000000,NaN,6755,...,92.0,4.70,75.0,0.2,NaN,NaN,15.6,16.3,0.584,10.7
2888,Viet Nam,2001,Developing,73.6,138.0,32,1.84,0.000000,NaN,12058,...,96.0,5.17,96.0,0.1,NaN,NaN,15.7,16.4,0.576,10.6
2889,Viet Nam,2000,Developing,73.4,139.0,33,1.60,0.000000,NaN,16512,...,96.0,4.89,96.0,0.1,NaN,NaN,15.8,16.4,0.569,10.4
2917,Zambia,2004,Developing,47.9,578.0,36,2.46,8.369852,NaN,35,...,84.0,7.33,83.0,17.6,53.277222,11731746.0,7.2,7.1,0.456,10.5
2918,Zambia,2003,Developing,46.4,64.0,39,2.33,65.789974,NaN,881,...,85.0,8.18,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
2919,Zambia,2002,Developing,45.5,69.0,41,2.44,54.043480,NaN,25036,...,85.0,6.93,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
2920,Zambia,2001,Developing,44.6,611.0,43,2.61,46.830275,NaN,16997,...,86.0,6.56,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
2921,Zambia,2000,Developing,43.8,614.0,44,2.62,45.616880,NaN,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6