In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('adv_exp.txt')

df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [3]:
df.cntry.unique()

array(['CH', 'CZ', 'DE', 'ES', 'NO', 'SE'], dtype=object)

1.) Did people become less trusting from 2012 to 2014? Compute results for each country in the sample.

In [18]:
from scipy.stats import ttest_rel

for cntry in df.cntry.unique():
    df12 = df[(df.cntry == cntry) & (df.year == 6) & (df.ppltrst.isna() == False)]
    df14 = df[(df.cntry == cntry) & (df.year == 7) & (df.ppltrst.isna() == False)]
    df12 = df12[[True for x in df12.idno if x in list(df14.idno)]]
    df14 = df14[[True for x in df14.idno if x in list(df12.idno)]]
    test = ttest_rel(df12.ppltrst, df14.ppltrst)
    print('{} paired t-test, test statistic: {}'.format(cntry, test[0]))
    print('{} paired t-test, p-value       : {}'.format(cntry, test[1]))
    print('')

CH paired t-test, test statistic: -0.6586851756725737
CH paired t-test, p-value       : 0.5102943511301135

ValueError: Item wrong length 650 instead of 651.

In [25]:
df12

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
1546,CZ,1001.0,6,2.0,10.0,9.0,4.0,9.0,6.0,3.0,1.0,39.0,1.0
1547,CZ,1002.0,6,4.0,5.0,4.0,6.0,8.0,6.0,3.0,1.0,29.0,1.0
1548,CZ,1003.0,6,1.0,9.0,8.0,6.0,9.0,5.0,5.0,1.0,33.0,2.0
1549,CZ,1004.0,6,3.0,2.0,1.0,2.0,7.0,4.0,3.0,1.0,24.0,2.0
1550,CZ,1005.0,6,7.0,2.0,10.0,6.0,4.0,5.0,3.0,2.0,63.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2199,CZ,2147.0,6,6.0,3.0,5.0,4.0,10.0,4.0,3.0,1.0,63.0,1.0
2200,CZ,2148.0,6,3.0,9.0,7.0,5.0,8.0,5.0,1.0,1.0,48.0,1.0
2201,CZ,2149.0,6,5.0,0.0,2.0,0.0,3.0,2.0,1.0,2.0,49.0,1.0
2202,CZ,2150.0,6,4.0,4.0,4.0,4.0,8.0,4.0,2.0,2.0,40.0,1.0
2203,CZ,2151.0,6,5.0,4.0,4.0,5.0,9.0,5.0,3.0,2.0,60.0,2.0

0

In [31]:
df14

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
2204,CZ,1001.0,7,5.0,3.0,3.0,2.0,7.0,4.0,4.0,2.0,71.0,2.0
2205,CZ,1002.0,7,5.0,5.0,7.0,3.0,5.0,5.0,1.0,2.0,52.0,1.0
2206,CZ,1003.0,7,7.0,5.0,4.0,3.0,6.0,4.0,3.0,1.0,55.0,2.0
2207,CZ,1004.0,7,7.0,5.0,5.0,3.0,7.0,4.0,3.0,1.0,64.0,1.0
2208,CZ,1005.0,7,3.0,4.0,5.0,5.0,6.0,5.0,3.0,1.0,59.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2857,CZ,2147.0,7,7.0,4.0,5.0,4.0,7.0,6.0,3.0,2.0,22.0,1.0
2858,CZ,2148.0,7,6.0,3.0,5.0,4.0,10.0,5.0,1.0,1.0,25.0,2.0
2859,CZ,2149.0,7,7.0,5.0,7.0,2.0,8.0,5.0,2.0,2.0,68.0,2.0
2860,CZ,2150.0,7,5.0,5.0,5.0,5.0,9.0,4.0,3.0,1.0,40.0,1.0
2861,CZ,2151.0,7,2.0,5.0,5.0,5.0,5.0,5.0,4.0,2.0,73.0,2.0

In [11]:
[True for x in df12 if x in df14]

[True, True, True, True, True, True, True, True, True, True, True, True, True]

2.) Did people become happier from 2012 to 2014? Compute results for each country in the sample.

3.) Who reported watching more TV in 2012, men or women?

4.) Who was more likely to believe people were fair in 2012, people living with a partner or people living alone?

5.) Pick three or four of the countries in the sample and compare how often people met socially in 2014. Are there differences, and if so, which countries stand out?

6.) Pick three or four of the countries in the sample and compare how often people took part in social activities, relative to others their age, in 2014. Are there differences, and if so, which countries stand out?

In [5]:
df.year.value_counts()

7    4297
6    4297
Name: year, dtype: int64

cntry        0
idno         0
year         0
tvtot        8
ppltrst     14
pplfair     39
pplhlp      25
happy       31
sclmeet     15
sclact      94
gndr        10
agea       239
partner     17
dtype: int64